@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap");

* {
  box-sizing: border-box;
}

.key {
  height: 42px;
  position: relative;
  text-align: center;
  border: 1px solid gray;
  font-size: 1.3rem;
  margin: 2px;
  background: white;
  font-family: "Titillium Web", sans-serif;
  border-radius: 2px;
  transition: 0.2s;
}

.key-shift {
  font-size: 0.9rem;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.colored {
  transform: scale(0.9);
  background: gray;
}

.github {
  background: lightgray;
  color: black;
  transition: 0.4s;
}

.github:hover {
  background: black;
  color: white;
}

.github a:visited {
  color: black;
}
.github:hover a:visited {
  color: white;
}
