* {
  box-sizing: border-box;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 234px;
  width: 694px;
  border-radius: 3px;
  border: 1px solid gray;
  background: lightgray;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .keyboard {
    transform: scale(0.6);
  }
}
